.jumbotron {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: aqua;
}

.btn.history-button {
    border: black solid 3px;
    height: 50px;
}

#history-button-holder {
    padding-bottom: 20px;
    margin-top: 0px;
}

#weather-icon {
    height: 80px;
    width: 80px;
}

#main-weather-display {
    background-color: cornsilk;
}

/* swap background color of UV index */
.safe-uv {
    background-color: green;
}

.warning-uv {
    background-color: yellow;
}

.danger-uv {
    background-color: orange;
}

.big-danger-uv {
    background-color: red;
}

.panic-uv {
    background-color: rebeccapurple;
}

/* future weather display */
.future-card {
    margin: 7px;
    padding: 0px;
    text-align: center;
}